body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav ul {
    display: flex;
    list-style: none;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    height: 10vh;
    /* max-width:100%; */
    width: 40vw;
    margin: 20px auto;
    border-bottom: 2px solid rgb(252, 252, 252);
    box-shadow: 5px 5px 20px rgb(139, 133, 133);
    font-size: 2rem;
    font-weight: bold;
}
h4{
    background-color: black;
    color: white;
    padding: 20px 20px;
    border-radius: 10px;
}
#body_content{
    margin: 0 auto;
    height: 40vh;
    width: 40vw;
    border-bottom: 2px solid rgb(252, 252, 252);
    box-shadow: 5px 5px 20px rgb(139, 133, 133);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 2rem;
    background-color: white;
}
#color{
    color: rgb(0, 181, 181);
}

button{
    font-size: 1.5rem;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border-color: black;
}

button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}